body {
    font-family: "Helvetica Neue","Arial",sans-serif;
}
p {
    font-family: "Helvetica Neue",sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 0.7em;
}

h1 {
    display: none;
}

nav {
    display: flex;
    padding: 1%;
}

ul {
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 0.6875rem; 
}

main {
    max-width: 100%;
    font-size: 100%;
}

button {
    border: none;
    background-color: white;  
    width: 35px; height: 35px;
}

.menu {
    background-image: url(images/hamburgermenu.jpeg);
    background-repeat: no-repeat;
    background-size: cover;  
    z-index: 1;
}

.menu1 {
    margin-left: -35px;
    margin-top: 3em;
    display: block;
    position: absolute;
    cursor: pointer;
    opacity: 1;
    z-index: 2;
}

li {
    padding: 5%;
}

.zoek {
    background-image: url(images/zoekicon.PNG);
    background-repeat: no-repeat;
    background-size: cover;  
    margin-left: 60%;
}

.logo {
    position: absolute;
    align-content: center;
    margin-top: -3.5em;
    margin-left: 42%;
    width: 50px;   
}

.bag  {
    background-image: url(images/bagicon.PNG);
    background-repeat: no-repeat;
    background-size: cover;  
    position: relative;
    margin-left: 71%;
}

.vlag {
    background-image: url(images/vlagicon.PNG);
    background-repeat: no-repeat;
    background-size: cover;  
}

h2 {
    font-size: 17px;
    margin: 15px;
    text-align: center;
    text-transform: uppercase; 
    margin-bottom: 10%;
}

section {
    margin-top: 0%;
    position: relative;
}
    
a {
    width: 100%;
    text-decoration: none;
    color: black;
 }   

.article {
    width: 100%;
}

.artikelen img {
    width: 140%;
    margin: 10%;
    position: relative;
    
}

.kledingsection {
    display: flex;
    margin: 10%;
    position: absolute;
    justify-content: center;
    grid-column-start: 1fr 1fr;
    grid-gap: 9em;
   
}

.kledingsection1 {
    display: flex;
    
    margin: 10%;
    position: absolute;
    justify-content: center;
    grid-column-start: 1fr 1fr;
    grid-gap: 9em;
}

@media (min-width: 40em) {section{
    display: flex;
    position: absolute;
    justify-content: center;
    grid-column-start: 1fr 1fr;
    grid-gap: 2em;
    width: 70%;
    margin: 10%;
    margin-top: 0%;
    }
}

@media (min-width: 40em) {.section1{
    position: absolute;
    width: 35%;
    margin: 27%;
    margin-top: 45%;
    }
}

@media (min-width: 40em) {.section2{
    display: flex;
    position: absolute;
    grid-column-start: 1fr 1fr;
    grid-gap: 2em;
    width: 70%;
    margin: 10%;
    margin-top: 92%;
    }
}


@media (min-width: 40em) {h2 {
    font-size: 1.5rem;   
    margin-top: -70%;
    }
}    

@media (min-width: 65em) {.logo {
    position: absolute;
    margin-left: 0%;
    width: 70px;
    margin-top: -2em;  
    }
}
   

@media (min-width: 65em) {.menu {
    display: none;
    }    
}


@media (min-width: 65em) {.zoek {
    display: none;
    }
}


@media (min-width: 65em) {.bag {
    display: none;
    }
}

@media (min-width: 65em) {.menu1 {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: -1em;
    margin-left: 1em;
    }
}

@media (min-width: 65em) {li {
    padding: 1em;
    }


@media (min-width: 65em) {.vlag {
    position: relative;
    left: 96%;
    margin-top: -2em;
    }
}

    


