body {
    font-family: "Helvetica Neue","Arial",sans-serif;
    font-size: 
}

nav {
    position: relative;
}
.menuham {
    position: absolute;
    height: 30px;
    margin-top: 9px;
}

a:hover {
    
}

.logo {
    position: absolute;
    height: 60px;
    margin-top: -10px;  
    left: 8em;
}

.zoek {
    position: absolute;
    height: 23px;
    margin: 15px;
    left: 14em;
}

.tas {
    position: absolute;
    height: 20px;
    left: 16em;
    margin: 15px;
}

.vlag {
    position: absolute;
    height: 26px;
    left: 18em;
    margin: 11px;
}

.vrouw {
    height: 410px;
    margin-top: 50px;
    margin-left: 5px;
}

h2 {
    font-size: 17px;
    margin: 15px;
    text-align: center;
    text-transform: uppercase; 
}

.man {
    height: 433px;
    margin-top: 20px;
    margin-left: 5px;
}

video {
    height: 180px;
    margin-top: 20px;
    margin-left: 5px;
}

.pet {
    height: 400px;
    margin-top: 20px;
    margin-left: 5px;
}

.shirt {
    height: 396px;
    margin-top: 20px;
    margin-left: 4px;
}

.print {
    height: 400px;
    margin-top: 20px;
    margin-left: 5px;
}
/*
.menu{
    display: block;
    align-items: flex-end;
}
.links ul {
    display: flex;
    justify-content:space-evenly;
    align-items:flex-end; 
    list-style:none;
    font-size: 0.6875rem;
}
*/




